{% load static %}

<html>
  <head>
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body>
    <div id="container">
      <div id="profilePicture">
        <img class="alb" src="/media/{{user.userpic }}" />
      </div>
      <div id="header">{{ user.name }} {{ user.email }}</div>
      <div id="userDetails">
        <table>
          <tr>
            <td>Gender :</td>
            <td>{{ user.gender }}<br /></td>
          </tr>
          <tr>
            <td>Mobile Number :</td>
            <td>{{ user.mbno }}<br /></td>
          </tr>
          <tr>
            <td>City :</td>
            <td>{{ user.city }}<br /></td>
          </tr>
          <tr>
            <td>Adhaar Number :</td>
            <td>{{ user.adhaarno }}<br /></td>
          </tr>
        </table>
      </div>
      <form method="POST" action="{% url 'login:logout' %}">
        {% csrf_token %}
        <button
          type="submit"
          class="btn btn-outline-danger"
          style="
            font-size: 17px;
            float: right;
            margin-right: 20px;
            margin-top: 40px;
          "
        >
          Log out
        </button>
      </form>
    </div>

    <!--copy the file-->
  </body>
</html>
<!-- add javascript in other file, and if that works fine then copy that file -->
<script></script>
