html{
    scroll-behavior: smooth;   
}
.homenav{
    color: rgb(32, 194, 0);
    font-weight: 900;
    font-size: larger;
}
a:hover{
    color: rgba(151, 41, 194, 0.733);
}
.gotop{
    position: fixed;
    width: 40px;
    height: 40px;
    background:transparent;
    bottom: 20px;
    right: 20px;

    text-align: center;
    line-height: 40px;
    color:blueviolet;
    font-size: 25px;
}