{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Registration Form </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/Registration.css' %}">
   </head>
<body>
  <div class="container"><div class="title">Registration</div>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <div class="content"><form action="{% url 'login:signup' %}" method="POST" enctype="multipart/form-data">
      
        {%csrf_token %}

        <div class="userdetails">

        	<div class="inputbox">
            <span class="details">Full Name</span>
            <input name="name" type="text" placeholder="Enter your name" required>
          </div>          
           <div class="inputbox">
            <span class="details">Upload your picture</span>
           <input name="userpic" type="file" id="real-file" required/>
            </div>
          
          
          <div class="inputbox">
            <span class="details">Email</span>
            <input name="email" type="email" placeholder="Enter your email" required>
          </div>          
          <div class="inputbox">
            <span class="details">Phone Number</span>
            <input name="mb_no" type="text" placeholder="Enter your number" required>
          </div>

           <div class="inputbox">
            <span class="details">Enter aadhar card number</span>
            <input name="adhaar_no" type="text" placeholder="Enter your aadhar card number" required>
           </div>
           <div class="inputbox">
            <span class="details">Residence city</span>
            <input name="city" type="text" placeholder="City where you live" required>
          </div>

          <div class="inputbox">
            <span class="details">Upload forntside of your aadhar card</span>
            <input name="fadhaar" type="file" id="real-file" required/>
			    </div>
			    <div class="inputbox">
           	<span class="details">Upload backside of your aadhar card</span>
            <input name="badhaar" type="file" id="real-file" required/>
			    </div>			
			
          <div class="inputbox">
            <span class="details">Password</span>
            <input name="pwd1" type="text" placeholder="Enter your password" required>
          </div>
          <div class="inputbox">
            <span class="details">Confirm Password</span>
            <input name="pwd2" type="text" placeholder="Confirm your password" required>
          </div>
        </div>

        <div class="genderdetails">
          <input value="male" type="radio" name="gender" id="dot-1" checked>
          <input value="female" type="radio" name="gender" id="dot-2">
          <input value="other" type="radio" name="gender" id="dot-3">
          <span class="gender-title">Gender</span>
          <div class="category">
            <label for="dot-1">
              <span class="dot one"></span>
              <span class="gender">Male</span>
            </label>
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">Female</span>
            </label>
            <label for="dot-3">
              <span class="dot three"></span>
              <span class="gender">Other</span>
            </label>
          </div>
        </div>
        <div>
          <input type="checkbox" name="policy" value="read" required >
              I have carefully read all the policy papers.
        </div>

        <div class="button"><input type="submit" name="submit" value="Sign up"></div>
      </form>
    </div>
  </div>
</body>

</html>
